body {
  width: 90%;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  font-family: MarkPro, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  color: black;
}

.header-container {
  border: 2px solid black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: red;
}

.search-container {
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;
}

.search {
  border-radius: 50px;
  background-color: transparent;
  color: black;
  font-family: inherit;
  font-size: 1.2rem;
  padding: 0.5rem 1.5rem;
  margin: 1em;
}

.search:focus {
  outline: 0;
}

.results-box {
  width: 100%;
  height: 60vh;
  border: 2px solid black;
  justify-content: center;
  overflow: hidden auto;
  margin-top: 3em;
}

.student-list {
  justify-content: center;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 3em;
  padding: 0;
}

.student {
  border: 2px solid #be1c3f;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  margin: 1rem;
  width: 300px;
  position: relative;
  padding: 10px;
  overflow: hidden;
}

.stamp {
  transform: rotate(12deg);
  color: #555;
  font-size: 3rem;
  font-weight: 700;
  border: 0.25rem solid #555;
  display: inline-block;
  padding: 0.25rem 1rem;
  text-transform: uppercase;
  border-radius: 1rem;
  font-family: 'Courier';
  -webkit-mask-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/8399/grunge.png');
  -webkit-mask-size: 944px 604px;
  mix-blend-mode: multiply;
  z-index: 1;
}

.is-approved {
  color: #0a9928;
  opacity: 0.5;
  border: 0.5rem solid #0a9928;
  -webkit-mask-position: 13rem 6rem;
  transform: rotate(-14deg);
  border-radius: 0;
}
